@import url(./fonts.css);

@theme {
  --color-primary: #191919;
  --color-secondary: #CBC4AD;
  --color-accent: #353424;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'hv_florentinoregular';
  overflow-x: hidden;
  font-display: swap;
}

p {
  font-size: 15px;
}

.container {
  max-width: 1200px;
}

input[type="checkbox"] {
  accent-color: #353424;
  width: 15px;
  height: 15px;
  /* Change to your desired color */
}

.commonblock {
  padding: 50px 0;
}

.heading {
  font-size: 51px;
  line-height: 54px;
}

.sheading {
  font-size: 15px;
}

.mheading {
  font-size: 32px;
  line-height: 36px;
}


#sidebar {
  display: none;
}

.font-luxurious {
  font-family: 'luxurious_scriptregular';
}



/* carousel nav */
.expertise-carousel .owl-nav button.owl-next,
.expertise-carousel .owl-nav button.owl-prev {
  position: absolute;
  font-size: 20px;

}

.expertise-carousel .owl-nav button.owl-next span,
.expertise-carousel .owl-nav button.owl-prev span {
  color: white !important;
}


.expertise-carousel .owl-nav button.owl-next {
  right: 12%;
  top: -40%;
}

.expertise-carousel .owl-nav button.owl-prev {
  left: 85%;
  top: -40%;
}


@media screen and (max-width: 768px) {

  .expertise-carousel .owl-nav button.owl-next,
  .expertise-carousel .owl-nav button.owl-prev {
    display: none;

  }
}