@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luxurious+Script&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@theme {
    /* --color-primary: #fff;
    --color-secondary: #24182E;
    --color-accent: #FDD6DE;
    --color-bgcolor: #E6F8F9;
    --color-footerbg: #250E3E;
    --color-textclr: #4B4B4B;
    --color-textclr2: #F9F5E3; */
    /* --font-pacifico: "Pacifico", cursive, sans-serif; */
    /* --font-primary: "Poppins", sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: serif;
    overflow-x: hidden;
    font-display: swap;
}

.container {
    max-width: 1200px;
}

.commonblock {
    padding: 50px 0;
}

#sidebar {
    display: none;
}

.font-luxurious {
    font-family: "Luxurious Script", serif;
}